<% provide(:title, "Edit Blog") %> 
<h1>Update Your Blog</h1>

<div class="row">
  <div class="offset3">
    <%= form_for(@blog) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :title %>
        <%= f.text_field :title %>

      <div class="redactor_box">
        <%= f.text_area :content, placeholder: "Blog description goes here...", :class => "redactor"%>
      </div>

      <br>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>


  </div>
</div>
