<%= link_to 'New Blog', new_blog_path, 'data-no-turbolink' => true, :class => "btn btn-large btn-primary" %>
<br>
<br>
<% @blogs.each do |blog| %>
  <div class="row-fluid">
      <div class="page-list">
        <h2>
          <% if blog.draft == true %>
            <%= blog.title %> <%= '- <i>draft</i>'.html_safe %>
          <% else %>
            <%= blog.title %>
          <% end %>
          <%= link_to 'Delete', blog, method: :delete, :class => "btn btn-danger pull-right",
                                     data: { confirm: 'Are you sure?' }%>
        </h2>
        <p>
          <%= truncate_html blog.content.html_safe, length: 80 %>
        </p>
        <p>
          <% #according to Rails API, link_to(body, url, html_options) %>
          <%= link_to 'New Entry', new_blogentry_path(:blogid => blog.id), 'data-no-turbolink' => true, :class => 'btn' %>
          <%= link_to 'Manage', { :controller => "blogs", :action => "manage", :id => blog.id }, { :class => "btn" } %>
        </p>
      </div>
      <!--/span-->
    </div>
<% end %>
<%= will_paginate @blogs %>
<%# add some space so that footer bar doesn't cover anything %>
<br>
<br>