<% blogs.each do |blog| %>
  <div class="row-fluid">
      <div class="page-list">
        <h2>
          <%= blog.title %>
        </h2>
        <p>
          <%= truncate_html blog.content.html_safe, length: 80 %>
        </p>
        <p>
          <% #according to Rails API, link_to(body, url, html_options = {}) %>
          <%= link_to 'Edit »', blog, { :class => "btn" } %>
          <%= link_to 'Destroy', blog, { :class => "btn" }, method: :delete,
                                     data: { confirm: 'Are you sure?' }%>
        </p>
      </div>
      <!--/span-->
    </div>
<% end %>

<%= link_to 'New Entry', new_blog_path %>