<% provide(:mode, 'management') %>
<% provide(:title, 'Manage Blog') %>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'layouts/sidebar' %>
    <script type="text/javascript">
      $('#blogs-link').removeClass("inactive").addClass("active") // change the "inactive" class to "active"
    </script>
  
    <div class="span8">
      <div class="page-list">
        <h2>Edit Title and Description<%= link_to 'Edit', edit_blog_path(@blog), 'data-no-turbolink' => true, :class => "btn pull-right"  %></h2>
      </div>
      <div class="page-list">
        <h2>Blog Entries
        <% # this passes :blogid to blogentries_controller/new, where it can be accessed with "params[:blogid]" %>
        <%= link_to 'New Entry', new_blogentry_path(:blogid => @blog), 'data-no-turbolink' => true, :class => 'btn btn-primary pull-right' %>
        </h2>
        <br>
        <% @blogentries.order('created_at DESC').each do |blogentry| %>
          <div class="row-fluid">
              <div class="sub-page-list pull-right">
                <h3>
                  <% if blogentry.draft == true %>
                    <%= blogentry.title %> <%= '- <i>draft</i>'.html_safe %>
                  <% else %>
                    <%= blogentry.title %>
                  <% end %>
                  <%= link_to 'Destroy', blogentry, method: :delete, :class => "btn btn-danger pull-right",
                                             data: { confirm: 'Are you sure?' }%>
                </h3>
                <p>
                  <%= truncate_html blogentry.content.html_safe, length: 80 %>
                </p>
                <p>
                  <% #according to Rails API, link_to(body, url, html_options) %>
                  <%= link_to 'Edit', edit_blogentry_path(blogentry), 'data-no-turbolink' => true, :class => "btn" %>
                  
                </p>
              </div>
              <!--/span-->
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# add some space so that footer bar doesn't cover anything %>
<br>
<br>