<% provide(:title, 'Create Blog') %>

<h1>Create a New blog</h1>

<div class="container">
    <div class="row">
      <div class="offset4">
        <%= form_for(@blog) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.label :title %>
          <%= f.text_field :title %>

          <div class="field">
            <%= f.text_area :content, placeholder: "Blog Content Goes Here..." %>
          </div>

          <br>

          <%= f.submit "Create Blog Entry", class: "btn btn-large btn-inverse" %>
        <% end %>
      </div>
  </div>
</div>