<% provide(:title, 'Create Blog') %>

<h1>Create a new blog</h1>
You can add entries later.

<div class="container">
    <div class="row">
      <div class="offset4">
        <%= form_for(@blog) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.label :title %>
          <%= f.text_field :title %>

          <div class="field">
            <%= f.text_area :content, placeholder: "Write a description for this blog" %>
          </div>

          <br>

          <%= f.submit "Create Blog", class: "btn btn-large btn-inverse" %>
        <% end %>
      </div>
  </div>
</div>