<% provide(:mode, 'management') %>
<% provide(:title, 'Create Blog Entry') %>

<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'layouts/sidebar' %>
    <script type="text/javascript">
      $('#blogs-link').removeClass("inactive").addClass("active") // change the "inactive" class to "active"
    </script>

    <div class="span8">
      <h1>Create a New Entry in <i><%= Blog.find(params[:blogid]).title%></i> </h1>

      <%= form_for(@blogentry) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <div class="text-label-container">
        <%= f.label :title, :class => "text-label" %> <%= f.text_field :title, :class => "text-field" %>
        </div>
        <br>
        <br>
        <%# if you change the format of the f.text_field, be sure to change the format of the datetimepicker %>
        <div class="text-label-container">
          <%= f.label "Date", :class => "text-label" %> 
          <%= f.text_field :created_at, :value => (Time.zone.now.strftime('%Y %B %d %I:%M %P')), :id => 'basic_example_1', :class => "text-field" %>
        </div>

        <script>
        $('#basic_example_1').datetimepicker({
          dateFormat: 'yy MM dd',
          controlType: 'select',
          timeFormat: 'hh:mm tt',
          addSliderAccess: true,
          sliderAccessArgs: { touchonly: true }
        });
        </script>
        <br>
        <br>

        <div class="redactor_content">
          <%= f.text_area :content, placeholder: "Write a new blog entry...", :class => "redactor"%>
        </div>

        <% # :blogid was passed from a blogs_controller action, and now we put it %>
        <% # into params[:blog][:id] to send off with the POST request. %>
        <%= hidden_field :blog, :id, :value => params[:blogid] %>

        <br>

        <div class="draft-checkbox-container">
            <%= f.check_box :draft, :class => "pull-left" %> <%=f.label "Draft", :class => "pull-right" %>
        </div>

        <br>
        <br>

        <%= f.submit "Create Entry", class: "btn btn-large btn-success" %>
      <% end %>

    </div>
  </div>
</div>
<%# add some space so that footer bar doesn't cover anything %>
<br>
<br>