<style>
            /* Only css for gallery */

        #myGallery {
            width:100%;
            padding-bottom: 200px;
        }

        .resize-message {
            margin:0 auto;
            width:98%;
            padding:10px 0px;
        }
        .resize-message > p {
            color:white;
            font-family: 'open sans', Arial;
            padding:0;
            margin: 0;
            text-align:center;
            font-weight: 300;
        }
        .blue {
            background-color:#4384ba;
            margin-top:5px;
        }
        .grey > p {
            font-size: 22px;
        }

        .grey {
            background-color: #999;
            margin-top:10px;
        }
        .blue > p {
            font-family: 18px;
        }

        .grey a, .blue a{
            color:white;
        }
        .grey a:visited, .blue a:visited  {
            color:white;
        }
        span.step {
            font-size:20px;
        }
    </style>


<!--Initialize the gallery-->
<script>
    $(document).ready(function () {
        $('#jacksGallery').rtg({
            imageWidth:250,
            spacing:10,
            categories:true,
            categoryOptions: {
                defaultCategory: 'All',
                includeAll: true
            },
            captionOptions: {
                enableCaptions: true
            },
            lightbox:true,
            center: true,
            initialHeight: 500
        });
        var didit = false;
        var done = false;
        setTimeout(function () {
            var bWidth = $('.rtg-images').width();
            var resizeStep = function () {

                if (bWidth != $('.rtg-images').width()) {
                    didit = true;
                    $('#steps > p').html('<span class="step">Step 2:</span> Awesome. Now click a category and watch it sort!');
                    $('.rtg-categories > li > a').on('click', function (e) {
                        if (!done) {
                            $('#steps > p').html('<span class="step">Step 3:</span> This is an easy one. Click an image!');
                        }

                        $('#myGallery .rtg-images li').on('click', function (e) {
                            $('#steps > p').html('<span class="step">Great Job. <a href="http://codecanyon.net/item/responsive-tile-gallery/3290154">Check out Responsive Tile Gallery on CodeCanyon!</a></span>');
                            done = true;
                        });
                    });
                } else {
                    if (didit !== true) {
                        $('#steps > p').html('<span class="step">Still Step 1:</span> Resize the width a little more. Trust me...');
                    }
                }
                bWidth = $('.rtg-images').width();
            };
            var stepTimer;
            $(window).resize(function () {
                if (didit === false) {
                    clearTimeout(stepTimer);
                    stepTimer = setTimeout(resizeStep, 200);
                }
            });
        }, 1000);

    });
</script>

<div class="container-gallery-text">
    <h1>My Photography</h1>
    <p>Hopefully this doesn't take too long to load, but below are my favorite photos out of each set.</p>
</div>

<div id='jacksGallery' class='rtg-gallery'>
    <ul class="rtg-images">
        <%# South America 2012 %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0021_20120329.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0021_20120329.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0030_20120314.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0030_20120314.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0072_20120317.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0072_20120317.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0106_20120406.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0106_20120406.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0275-0277_20120317.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0275-0277_20120317.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0286_20120401.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0286_20120401.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0425_20120402.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0425_20120402.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0522_20120402.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0522_20120402.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SouthAmerica2012/SouthAmerica-DSC_0628_20120309.jpg"), "href" => asset_path("photography/SouthAmerica2012/SouthAmerica-DSC_0628_20120309.jpg"), "data-category" => "South America 2012", "data-title" => "More Text" %>
        <%# Bay Area 2011 %>
        <%= content_tag :li, image_tag("photography/BayArea2011/DSC_0039 natural bridges state beach.jpg"), "href" => asset_path("photography/BayArea2011/DSC_0039 natural bridges state beach.jpg"), "data-category" => "Bay Area 2011", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/BayArea2011/DSC_0088 alcatraz.jpg"), "href" => asset_path("photography/BayArea2011/DSC_0088 alcatraz.jpg"), "data-category" => "Bay Area 2011", "data-title" => "More Text" %>
        <%# Seattle Skyline %>
        <%= content_tag :li, image_tag("photography/SeattleSkyline/SeattleSkyline-DSC_0273-0276.jpg"), "href" => asset_path("photography/SeattleSkyline/SeattleSkyline-DSC_0273-0276.jpg"), "data-category" => "Seattle Skyline", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SeattleSkyline/SeattleSkyline-DSC_0280.jpg"), "href" => asset_path("photography/SeattleSkyline/SeattleSkyline-DSC_0280.jpg"), "data-category" => "Seattle Skyline", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SeattleSkyline/SeattleSkyline-DSC_0284-0286.jpg"), "href" => asset_path("photography/SeattleSkyline/SeattleSkyline-DSC_0284-0286.jpg"), "data-category" => "Seattle Skyline", "data-title" => "More Text" %>
        <%# Europe 2010 %>
        <%= content_tag :li, image_tag("photography/Europe2010/Europe_DSC_0538bw.jpg"), "href" => asset_path("photography/Europe2010/Europe_DSC_0538bw.jpg"), "data-category" => "Europe 2010", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Europe2010/Europe_DSC_1022-1030.jpg"), "href" => asset_path("photography/Europe2010/Europe_DSC_1022-1030.jpg"), "data-category" => "Europe 2010", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Europe2010/Europe_DSC_1357.jpg"), "href" => asset_path("photography/Europe2010/Europe_DSC_1357.jpg"), "data-category" => "Europe 2010", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Europe2010/Europe_DSC_1380.jpg"), "href" => asset_path("photography/Europe2010/Europe_DSC_1380.jpg"), "data-category" => "Europe 2010", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Europe2010/Europe_DSC_1395.jpg"), "href" => asset_path("photography/Europe2010/Europe_DSC_1395.jpg"), "data-category" => "Europe 2010", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Europe2010/Europe_DSC_1506.jpg"), "href" => asset_path("photography/Europe2010/Europe_DSC_1506.jpg"), "data-category" => "Europe 2010", "data-title" => "More Text" %>
        <%# Seattle Public Library and Gum Wall %>
        <%= content_tag :li, image_tag("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0462_browsing.jpg"), "href" => asset_path("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0462_browsing.jpg"), "data-category" => "Seattle Public Library and Gum Wall", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0463_library.jpg"), "href" => asset_path("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0463_library.jpg"), "data-category" => "Seattle Public Library and Gum Wall", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0466.jpg"), "href" => asset_path("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0466.jpg"), "data-category" => "Seattle Public Library and Gum Wall", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0477_watching_you.jpg"), "href" => asset_path("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0477_watching_you.jpg"), "data-category" => "Seattle Public Library and Gum Wall", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0494_upside_down_world.jpg"), "href" => asset_path("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0494_upside_down_world.jpg"), "data-category" => "Seattle Public Library and Gum Wall", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0505.jpg"), "href" => asset_path("photography/SeattlePublicLibrary&GumWall/SeattlePublicLibrary&Gumwall-DSC_0505.jpg"), "data-category" => "Seattle Public Library and Gum Wall", "data-title" => "More Text" %>
        <%# Porn %>
        <%= content_tag :li, image_tag("photography/Porn/Porn_DSC_0195.jpg"), "href" => asset_path("photography/Porn/Porn_DSC_0195.jpg"), "data-category" => "Porn", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Porn/Porn_DSC_0196.jpg"), "href" => asset_path("photography/Porn/Porn_DSC_0196.jpg"), "data-category" => "Porn", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Porn/Porn_DSC_0198.jpg"), "href" => asset_path("photography/Porn/Porn_DSC_0198.jpg"), "data-category" => "Porn", "data-title" => "More Text" %>
        <%# Shoes %>
        <%= content_tag :li, image_tag("photography/Shoes/Shoes-DSC_0098_top_ten_low.jpg"), "href" => asset_path("photography/Shoes/Shoes-DSC_0098_top_ten_low.jpg"), "data-category" => "Shoes", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Shoes/Shoes-DSC_0108_top_ten_low.jpg"), "href" => asset_path("photography/Shoes/Shoes-DSC_0108_top_ten_low.jpg"), "data-category" => "Shoes", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Shoes/Shoes-DSC_0161_jim.jpg"), "href" => asset_path("photography/Shoes/Shoes-DSC_0161_jim.jpg"), "data-category" => "Shoes", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Shoes/Shoes-DSC_0174_jim.jpg"), "href" => asset_path("photography/Shoes/Shoes-DSC_0174_jim.jpg"), "data-category" => "Shoes", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Shoes/Shoes-DSC_0933_xx3.jpg"), "href" => asset_path("photography/Shoes/Shoes-DSC_0933_xx3.jpg"), "data-category" => "Shoes", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Shoes/Shoes-DSC_0955_jordan_tribe_called_quest.jpg"), "href" => asset_path("photography/Shoes/Shoes-DSC_0955_jordan_tribe_called_quest.jpg"), "data-category" => "Shoes", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Shoes/Shoes-DSC_0966_jordan_tribe_called_quest.jpg"), "href" => asset_path("photography/Shoes/Shoes-DSC_0966_jordan_tribe_called_quest.jpg"), "data-category" => "Shoes", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Shoes/Shoes-DSC_0971_xx3.jpg"), "href" => asset_path("photography/Shoes/Shoes-DSC_0971_xx3.jpg"), "data-category" => "Shoes", "data-title" => "More Text" %>
        <%# UW %>
        <%= content_tag :li, image_tag("photography/UW/UW-DSC_0059_snowmen.jpg"), "href" => asset_path("photography/UW/UW-DSC_0059_snowmen.jpg"), "data-category" => "UW", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/UW/UW-DSC_0233_cough_out_blood.jpg"), "href" => asset_path("photography/UW/UW-DSC_0233_cough_out_blood.jpg"), "data-category" => "UW", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/UW/UW-DSC_0277_the_quad.jpg"), "href" => asset_path("photography/UW/UW-DSC_0277_the_quad.jpg"), "data-category" => "UW", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/UW/UW-DSC_0389_ffr.jpg"), "href" => asset_path("photography/UW/UW-DSC_0389_ffr.jpg"), "data-category" => "UW", "data-title" => "More Text" %>
        <%# China 2009 %>
        <%= content_tag :li, image_tag("photography/China2009/China2009-DSC_0556_rice_thing.jpg"), "href" => asset_path("photography/China2009/China2009-DSC_0556_rice_thing.jpg"), "data-category" => "China 2009", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/China2009/China2009-DSC_0601_yulongxueshan.jpg"), "href" => asset_path("photography/China2009/China2009-DSC_0601_yulongxueshan.jpg"), "data-category" => "China 2009", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/China2009/China2009-DSC_0709_shilin.jpg"), "href" => asset_path("photography/China2009/China2009-DSC_0709_shilin.jpg"), "data-category" => "China 2009", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/China2009/China2009-DSC_0830_bridge.jpg"), "href" => asset_path("photography/China2009/China2009-DSC_0830_bridge.jpg"), "data-category" => "China 2009", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/China2009/China2009-DSC_0834_lily.jpg"), "href" => asset_path("photography/China2009/China2009-DSC_0834_lily.jpg"), "data-category" => "China 2009", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/China2009/China2009-DSC_0838_duck.jpg"), "href" => asset_path("photography/China2009/China2009-DSC_0838_duck.jpg"), "data-category" => "China 2009", "data-title" => "More Text" %>
        <%# Las Vegas and Canyons Trip 2008 %>
        <%= content_tag :li, image_tag("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_0112.jpg"), "href" => asset_path("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_0112.jpg"), "data-category" => "Las Vegas and Canyons Trip 2008", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_0142-0147.jpg"), "href" => asset_path("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_0142-0147.jpg"), "data-category" => "Las Vegas and Canyons Trip 2008", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_0607.jpg"), "href" => asset_path("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_0607.jpg"), "data-category" => "Las Vegas and Canyons Trip 2008", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_1014.jpg"), "href" => asset_path("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_1014.jpg"), "data-category" => "Las Vegas and Canyons Trip 2008", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_1111.jpg"), "href" => asset_path("photography/LasVegas&GrandCanyon2008/LV&Canyons-DSC_1111.jpg"), "data-category" => "Las Vegas and Canyons Trip 2008", "data-title" => "More Text" %>
        <%# Yellowstone 2007 %>
        <%= content_tag :li, image_tag("photography/Yellowstone2007/Yellowstone-DSC_0020_deer.jpg"), "href" => asset_path("photography/Yellowstone2007/Yellowstone-DSC_0020_deer.jpg"), "data-category" => "Yellowstone 2007", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Yellowstone2007/Yellowstone-DSC_0035_bacteria_chunk_in lower_geyser_basin.jpg"), "href" => asset_path("photography/Yellowstone2007/Yellowstone-DSC_0035_bacteria_chunk_in lower_geyser_basin.jpg"), "data-category" => "Yellowstone 2007", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Yellowstone2007/Yellowstone-DSC_0135_brink_of_lower falls.jpg"), "href" => asset_path("photography/Yellowstone2007/Yellowstone-DSC_0135_brink_of_lower falls.jpg"), "data-category" => "Yellowstone 2007", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Yellowstone2007/Yellowstone-DSC_0209_behind_canary spring.jpg"), "href" => asset_path("photography/Yellowstone2007/Yellowstone-DSC_0209_behind_canary spring.jpg"), "data-category" => "Yellowstone 2007", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Yellowstone2007/Yellowstone-DSC_0221_angel_terrace.jpg"), "href" => asset_path("photography/Yellowstone2007/Yellowstone-DSC_0221_angel_terrace.jpg"), "data-category" => "Yellowstone 2007", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Yellowstone2007/Yellowstone-DSC_0236_some_green_puddle.jpg"), "href" => asset_path("photography/Yellowstone2007/Yellowstone-DSC_0236_some_green_puddle.jpg"), "data-category" => "Yellowstone 2007", "data-title" => "More Text" %>
        <%= content_tag :li, image_tag("photography/Yellowstone2007/Yellowstone-DSC_0383_canary_spring.jpg"), "href" => asset_path("photography/Yellowstone2007/Yellowstone-DSC_0383_canary_spring.jpg"), "data-category" => "Yellowstone 2007", "data-title" => "More Text" %>
        <%# copy and paste the content_tags when adding more photos %>
      </ul>
</div>