<div class="container-content">
	<h1>Mystic Artifact</h1>
	<ol>
		<li><span style="line-height: 21.75px;">In your iPhone, open the Settings app.</span></li>
		<li><span style="line-height: 21.75px;">Scroll down to "Springtomize" and tap it to go in.</span></li>
		<%= image_tag('http://farm4.staticflickr.com/3801/10261803986_e81ae81f98.jpg') %>
		<li><span style="line-height: 21.75px;">Tap "Icons".</span></li>
		<%= image_tag('http://farm4.staticflickr.com/3755/10261703084_849c30c3c8.jpg') %>
		<li><span style="line-height: 21.75px;">Scroll down to "Choose Icons" under the "Hide Icons" section.</span></li>
		<%= image_tag('http://farm4.staticflickr.com/3833/10261703074_f9af9507b2.jpg') %>
		<li><span style="line-height: 21.75px;">Under the "System Apps" section, scroll down to "Mystic Artifact" and tap it to uncheck it.</span></li>
		<%= image_tag('http://farm8.staticflickr.com/7293/10261915683_8e2f9ebe2e.jpg') %>
		<li><span style="line-height: 21.75px;">Tap the back button label led "Icons" in the upper left corner.</span></li>
		<%= image_tag('http://farm3.staticflickr.com/2805/10261753594_598e9c8fee.jpg') %>
		<li><span style="line-height: 21.75px;">Tap the back button labeled "Sprintomize" in the upper left corner.</span></li>
		<%= image_tag('http://farm4.staticflickr.com/3779/10261915463_f1b994f94f.jpg') %>
		<li><span style="line-height: 21.75px;">Tap the "Reload" button in the upper right corner.</span></li>
		<%= image_tag('http://farm8.staticflickr.com/7376/10261803506_76777513e0.jpg') %>
		<li><span style="line-height: 21.75px;">Click the red button that says "Respring", and the iPhone will go to sleep.</span></li>
		<%= image_tag('http://farm6.staticflickr.com/5460/10261702714_b30375a6f7.jpg') %>
		<li><span style="line-height: 21.75px;">Now, unlock your phone, and you will find a new app named "Mystic Artifact". Open it.</span></li>
	</ol>
</div>