<% provide(:mode, 'management') %>
<% provide(:title, "Edit Project") %> 

<div class="container-fluid">
  <div class="row-fluid">
    <%= render 'layouts/sidebar' %>

    <div class="span8">
      <h1>Update Your Project</h1>

        <%= form_for(@project) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :title %>
            <%= f.text_field :title %>

          <div class="redactor_box">
            <%= f.text_area :content, placeholder: "Project content goes here...", :class => "redactor"%>
          </div>

          <br>

          <%= f.submit "Save", class: "btn btn-large btn-primary" %>
        <% end %>


    </div>
  </div>
</div>