<%= link_to 'New Project', new_project_path, { :class => "btn btn-large btn-primary" } %>
<br>
<br>
<% projects.each do |project| %>
  <div class="row-fluid">
      <div class="page-list">
        <h2>
          <%= project.title %>
          <%= link_to 'Delete', project, method: :delete, :class => "btn btn-danger pull-right", 
                                     data: { confirm: 'Are you sure?' } %>
        </h2>
        
        <p>
          <%= truncate_html project.content.html_safe, length: 80 %>
        </p>

        <p>
          <% #according to Rails API, link_to(body, url, html_options) %>
          <%= link_to 'Edit', edit_project_path(project), :class => "btn"  %>
          
        </p>
      </div>
      <!--/span-->
    </div>
<% end %>
<%= will_paginate @projects %>
<%# add some space so that footer bar doesn't cover anything %>
<br>
<br>