<% projects.each do |project| %>
  <div class="row-fluid">
      <div class="page-list">
        <h2>
          <%= project.title %>
        </h2>
        <p>
          <%= project.content.html_safe %>
        </p>
        <p>
          <% #according to Rails API, link_to(body, url, html_options = {}) %>
          <%= link_to 'Edit', edit_project_path(project), :class => "btn"  %>
          <%= link_to 'Destroy', project, method: :delete, :class => "btn", 
                                     data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
      <!--/span-->
    </div>
<% end %>

<%= link_to 'New Project', new_project_path %>