<% projects.each do |project| %>
  <div class="row-fluid">
      <div class="page-list">
        <h2>
          <%= project.title %>
        </h2>
        <p>
          <%= truncate_html project.content.html_safe, length: 80 %>
        </p>
        <p>
          <% #according to Rails API, link_to(body, url, html_options = {}) %>
          <%= link_to 'Edit »', edit_project_path(project), { :class => "btn" } %>
          <%= link_to 'Rich Text Editing', edit_rich_project_path(project), { :class => "btn" } %>
          <%= link_to 'Raw HTML Editing', edit_raw_project_path(project), { :class => "btn" } %>
          <%= link_to 'Destroy', project, { :class => "btn" }, method: :delete,
                                     data: { confirm: 'Are you sure?' }%>
        </p>
      </div>
      <!--/span-->
    </div>
<% end %>

<%= link_to 'New Project', new_project_path %>