<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="../">(Your Logo)</a>
      <div class="nav-collapse collapse" id="main-menu">
       <ul class="nav pull-right" id="main-menu-left">
         <li><%= link_to "About", '/about' %></li>
         <% if signed_in? %>
         	<li><%= link_to "Dashboard", '/dashboard' %></li>
         	<li><%= link_to "Sign Out", logout_path, method: :delete %></li>
         <% end %>
         <li class="dropdown">
         	<%= link_to 'Projects <b class="caret"></b>'.html_safe, '#', :class => "dropdown-toggle", "data-toggle" => "dropdown" %>
	         <ul class="dropdown-menu">
	                  <% User.first.projects.each do |project| %>
	                    <li>
	                      <%= link_to project.title, project %>
	                    </li>
	                  <% end %>
	                </ul>
	         </li>
         <li class="dropdown">
            <%= link_to 'Dropdown <b class="caret"></b>'.html_safe, '#', :class => "dropdown-toggle", "data-toggle" => "dropdown" %>
           <ul class="dropdown-menu" id="project-menu">
             <li><a href="#">Word on da street is</a></li>
             <li class="divider"></li>
             <li><a href="#">Yo</a></li>
             <li><a href="#">Mama</a></li>
             <li><a href="#">Is</a></li>
             <li><a href="#">So</a></li>
             <li><a href="#">Fat</a></li>
             <li><a href="#">The</a></li>
             <li><a href="#">Elevator</a></li>
             <li><a href="#">Has</a></li>
             <li><a href="#">To</a></li>
             <li><a href="#">Go</a></li>
             <li><a href="#">Down</a></li>
             <li><a href="#">When</a></li>
             <li><a href="#">She</a></li>
             <li><a href="#">Gets</a></li>
             <li><a href="#">In</a></li>
           </ul>
         </li>
       </ul>
      </div>
    </div>
  </div>
</div>