<div class="navbar-wrapper">
	<div class="container">
		<img src="/assets/rails.png"> (Our personal logo/banner goes here.)
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active">
							<%= link_to "Home",    root_path %>
						</li>
						<li>
							<%= link_to "About", '/about' %>
						</li>
						<% if signed_in? %>
							<li><%= link_to "Dashboard", '/dashboard' %></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="#">Action</a>
									</li>
									<li>
										<a href="#">Another action</a>
									</li>
									<li>
										<a href="#">Something else here</a>
									</li>
									<li class="divider">
									</li>
									<li class="nav-header">
										Nav header
									</li>
									<li>
										<a href="#">Separated link</a>
									</li>
									<li>
										<a href="#">One more separated link</a>
									</li>
								</ul>
							</li>
							<li><%= link_to "Sign Out", logout_path, method: :delete %></li>
						<% else %>
							<li><%= link_to "Create New Account!", signup_path %></li>
							<li><%= link_to "Sign In!", login_path %></li>
						<% end %>
						
					</ul>
				</div>
			</div>
		</div>
	</div>