<!DOCTYPE html>
<html>

<head>
	<title><%= full_title(yield(:title)) %></title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'SnobbyFrenchSmiley-favicon.png' %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-33324771-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div class="public-wrapper">
		<% if yield(:mode) == 'management' %>
			<%= render 'layouts/dashboard_header' %>
			<div class="navbar-placeholder">
			</div>
		<% else %>
			<%= render 'layouts/header' %>
		<% end %>

		<% if yield(:mode) == 'management' %>
			<div class="container-fluid">
		<% else %>
			<div class="container">
		<% end %>
			  <% flash.each do |key, value| %>
			    <div id="flash" class="alert alert-<%= key %>"><%= value %></div>
			  <% end %>
			</div>

			<%= yield %>
			<%= render 'layouts/footer' %>
			<%#= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>


			<%# if yield(:mode) == 'management' %>
				<!-- <div class="management-wrapper"> -->
			<%# end %>
			<%#= yield %>
			<%# if yield(:mode) == 'management' %>
				<!-- </div> -->
			<%# end %>
			<%#= render 'layouts/footer' %>
			<%#= debug(params) if Rails.env.development? %>
